.slideshow-container {
    background-color: blue;
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .mySlides {
    background-color: blue;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 22s ease-in-out;
  }
  
  .mySlides:first-child {
    background-color: blue;
    opacity: 1;
  }
  
  